<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>PW04</title>

<link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"	rel="stylesheet">

<style>
body {
	padding-top: 50px;
}
</style>


</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">PW04</a>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="jumbotron">
			<h1>Add a student</h1>
		</div>

		<form action="form" method="POST">
			<div class="form-group">
				<label for="lastname">Lastname</label>
				#springFormInput("student.lastname" "class='form-control' id='lastname' placeholder='lastname'")
			</div>
			<div class="form-group">
				<label for="firstname">Firstname</label>
				#springFormInput("student.firstname" "class='form-control' id='firstname' placeholder='firstname'")
			</div>
			
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>


</body>
</html>
