<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PW04</title>

    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 50px;
        }

    </style>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PW04</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">
        <h1>List of students</h1>

    </div>


    <table class="table table-striped">
        #foreach($student in $students)
            <tr>
                <td>$student.lastname</td>
                <td>$student.firstname</td>
                <td>
                    #foreach($course in $student.courses)
                        Course : #$course.name :
                        #foreach($work in $course.works)
                            ${work.name} (${work.grade})#if( $foreach.hasNext ), #end
                        #end<br/>
                    #end
                </td>
                <td><a href="$student.id/delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        #end
    </table>
</div>


</body>
</html>
