<!DOCTYPE html>
  <html ng-app>
  
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    
      <script>
        function ctrl($scope) {
          $scope.increment = function(item){
            item.count += 1;
          }
        }
        
      </script>
    </head>
  
    <body ng-controller="ctrl">
      <div ng-init="items = [
      {name:'Poke1', count:0, position : 'Réponse 1 :' },
      {name:'Poke2', count:0, position : 'Réponse 2 :' },
      {name:'Poke3', count:0, position : 'Réponse 3 :' },
      {name:'Poke4', count:0, position : 'Réponse 4 :' }
      ]">
        <ul>
          <li ng-repeat="item in items">
            <span>{{item.position}}</span>
            
            <button ng-click="increment(item);"><a >{{item.name}}</a></button>
            <span>{{item.count}}</span>
          </li>
        </ul>
      </div>
    </body>
  
  </html>
