<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Calcul Mental</title>

    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"	rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            padding-top: 50px;
        }

        .btn{
            margin: 10px;
        }

        .col-centered{
            float: none;
            margin: 0 auto;
        }
        .jumbotron{

            text-align:center;
        }

    </style>

    <script type="text/javascript">
        function displynum(n1)
        {
            calcform.txt1.value=n1;
        }
    </script>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Calcul Mental</a>
        </div>
    </div>
</nav>

<div class="container" >

    <div class="jumbotron">
        <h1>2+2 ?</h1>
    </div>

    <div class="row">
        <div class="col-lg-3 col-centered">


            <form action="form" method="POST" name=calcform>
                <input type=text class="form-control" name = txt1></br>
                <input type=button class="btn btn-default" name=btn1 value=1 onclick="displynum(btn1.value)">
                <input type=button class="btn btn-default" name=btn4 value=4 onclick="displynum(btn4.value)">

                <input type=button class="btn btn-default" name=btn3 value=3 onclick="displynum(btn3.value)">
                <input type=button class="btn btn-default" name=btn2 value=2 onclick="displynum(btn2.value)">

                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
    </div>

</div>


</body>
</html>


